<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonju.work.dao.CityDAO"><!--namespace를 통해 UserDAO와 연결합니다. -->
  		
  <select id="selectCities" parameterType="com.wonju.work.dto.CityDTO"
resultType="com.wonju.work.dto.CityDTO"><!-- selectUsers()메서드를 호출하면 실행할 SELECT문이며, 
						UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.-->
  	SELECT `id`, `name`, `district`
    FROM city
    <if test='name != null and name != ""'><!-- 만약 파라미터에 country가 있다면 SQL문에 WHERE절을 추가합니다. -->
    	WHERE name = #{name}
    </if>
  </select>

</mapper>