<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonju.work.dao.LentCarDAO"><!--namespace를 통해 LentcarDAO와 연결합니다. -->
  		
	  <insert id="insertLentCar" parameterType="com.wonju.work.dto.LentcarDTO">
	  	INSERT INTO lentcar_t(name, addr, lat, logt)
	  	VALUES( #{name}, #{addr}, #{lat}, #{logt})	
	  </insert>
	  
	    <select id="selectLentCar" parameterType="com.wonju.work.dto.LentcarDTO"
			resultType="com.wonju.work.dto.LentcarDTO">
  				SELECT * FROM (SELECT  *, @rownum := @rownum+1 AS RNUM
					FROM WORLD.lentcar_t, 
					(SELECT @rownum :=0) AS R) AS B WHERE RNUM BETWEEN #{begin} AND #{end}
 		 </select>
  
  		<delete id="deleteLentCar">
  			DELETE FROM world.lentcar_t;
  		</delete>
  		
  		
  		<select id="totalCount" resultType="int">
  			SELECT COUNT(*) FROM world.lentcar_t;
  		</select>
  		
  		<select id="searchtotalCount" resultType="int">
  			SELECT COUNT(*) FROM world.lentcar_t WHERE ${subject} LIKE CONCAT('%', #{keyword}, '%');
  		</select>
  		
  		
  		
  		
  		<select id="searchLentCar" parameterType="com.wonju.work.dto.LentcarDTO"
			resultType="com.wonju.work.dto.LentcarDTO">
  			SELECT * FROM (SELECT  *, @rownum := @rownum+1 AS RNUM
					FROM WORLD.lentcar_t, 
					(SELECT @rownum :=0) AS R) AS B WHERE ${subject} LIKE CONCAT('%', #{keyword}, '%') AND RNUM BETWEEN #{begin} AND #{end}
  		</select>
  		
  		
  		
  		
  		
  		
	     
</mapper>