<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonju.work.dao.LentCarDAO"><!--namespace를 통해 LentcarDAO와 연결합니다. -->
  		
	  <insert id="insertLentCar" parameterType="com.wonju.work.dto.LentcarDTO">
	  	INSERT INTO lentcar_t(name, addr, lat, logt)
	  	VALUES( #{name}, #{addr}, #{lat}, #{logt})	
	  </insert>
	  
	    <select id="selectLentCar" parameterType="com.wonju.work.dto.LentcarDTO"
resultType="com.wonju.work.dto.LentcarDTO">
  	SELECT id, name, addr, lat, logt FROM world.lentcar_t;
  </select>
	  
	  
	  
</mapper>